:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;

  background-color: #eff0f08d;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  padding: 2rem;
  display: block;
}

header {
  background: url("/header.webp") no-repeat center;
  background-size: cover;
  height: 230px;
  width: 100%;
  display: block;
}

.hide {
  display: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table tbody {
  background-color: white;
}

table tbody tr:hover {
  background-color: rgba(12, 163, 163, 0.2);
}

table tfoot tr td {
  text-align: center;
  padding: 2rem;
}

td, th {
  border: 1px solid #d0d0d0;
  border-right: 0;
  border-left: 0;
  text-align: left;
  padding: 8px;
  color: #000000;
}

thead .sort::after {
  content: "▲";
  color: rgb(151, 151, 151);
}

thead .sort.active::after {
  color: black;
}

thead .sort:hover {
  cursor: pointer;
}

thead tr:nth-child(1) {
  background-color: #dddddd;
}

th:first-child, td:first-child {
  border-left: 1px solid #d0d0d0;
}

th:last-child, td:last-child {
  border-right: 1px solid #d0d0d0;
}

.flex {
  display: flex;
}

.content-center {
  place-content: center;
}

.mt-2 {
  margin-top: 2em;
}

.load-more-button {
  background-color: #001b6b;
  color: white;
}

.load-more-button:hover {
  background-color: #0024c4;
}

.search-container {
  margin-bottom: 15px;
}

.search-container input {
  width: 150px;
  background-color: rgb(231, 231, 231);
  border: 0px;
  border-radius: 2rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.search-container input:focus {
  width: 200px; 
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
}

.table-row {
  border: 1px solid #d0d0d0;
  padding: 1rem;
  margin: 1rem;
  flex-direction: row;
  display: flex;
}

.table-col {
  padding-right: 1rem;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  /* align-self: center;    <---- REMOVE */
  align-items: center; 
  color: #d0d0d0;
}

.img {
  height: 50px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
